{% extends "index.twig" %}

{% block title %}
	{{ title|escape('html') }}
{% endblock %}

{% block metaDescription %}
	{% if metadesc == '' %}The Kumwe! Framework provides a structurally sound foundation on which to build applications in PHP, which is easy to adapt and extend. Let's find out more!
	{% else %}
		{{ metadesc|escape('html') }}
	{% endif %}
{% endblock %}

{% block content %}

	{# <div class="uk-background-cover uk-flex uk-flex-column  uk-margin-auto-vertical" style="background-image: url('https://source.unsplash.com/random/1920x500/?yachts');"> #}
	{# <div class="uk-background-cover uk-flex uk-flex-column  uk-margin-auto-vertical" style="background-image: url('https://images.unsplash.com/photo-1596109898239-d8f0b19790a2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8eWFjaHRzfHx8fHx8MTY3MTY5ODAyNA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920');"> #}
		<div class="uk-background-cover uk-flex uk-flex-column  uk-margin-auto-vertical" style="background-image: url('https://images.unsplash.com/photo-1512602110-67198e50f815?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');"> <h1 class="uk-margin-auto uk-margin-top">Contact Us</h1>
		<form id="contactDetail-admin" class="uk-width-2-3@m uk-form-stacked uk-margin-auto" action="{{ route() }}index.php/contactUs?task=post" method="post">
			<div>
				<label class="uk-form-label">Email:</label>
				<div class="uk-form-controls">
					<input name="email" class="uk-input uk-width-1-1" type="text" placeholder="youremail@example.com" value="{{ form.email|default('') }}">
				</div>
			</div>
			<div>
				<label class="uk-form-label">Message:</label>
				<div class="uk-form-controls">
					<input name="message" class="uk-input uk-width-1-1" type="textarea" placeholder="enter a message" value="{{ form.message|default('') }}">
				</div>
			</div>
			<div class="uk-button-group uk-width-1-1 uk-margin ">
				<input type="submit" class="uk-button uk-button-primary uk-width-1-2 uk-margin-auto" value="Send"/>
			</div>
		</form>

		<div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-overlay uk-overlay-primary">

			<table class="uk-table uk-table-justify uk-table-divider">
				<thead>
					<tr>
						<th colspan="2">How to reach us:</th>
					</tr>
				</thead>
				<tbody>
					{% for detail in contactDetails %}
						<tr width="20%">
							<td>
								{% if detail.typeId == 1 %}
									<span uk-icon="icon: phone"></span>
								{% elseif detail.typeId == 2 %}
									<span uk-icon="icon: mail"></span>
								{% elseif detail.typeId == 3 %}
									<span uk-icon="icon: link"></span>
								{% else %}
									<span uk-icon="icon: warning"></span>
								{% endif %}
							</td>
							<td>{{ detail.value }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}
